################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTest/UserInformationAppTest/obj/Debug/net8.0
/.gitignore
